{% load static %}
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Modifică hotel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">Modifică hotel: {{ hotel.name }}</h2>

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Nume hotel</label>
            <input type="text" name="name" class="form-control" value="{{ hotel.name }}" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Locație</label>
            <input type="text" name="location" class="form-control" value="{{ hotel.location }}" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Descriere</label>
            <textarea name="description" class="form-control" rows="4" required>{{ hotel.description }}</textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Tip cameră disponibilă</label>
            <select name="available_types" class="form-select" required>
                {% for code, label in hotel.HOTEL_TYPES %}
                    <option value="{{ code }}" {% if hotel.available_types == code %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Preț pe noapte (RON)</label>
            <input type="number" step="0.01" name="price_per_night" class="form-control" value="{{ hotel.price_per_night }}" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Facilități disponibile</label><br>
                {% for facility in facilities %}
                    <input
                    type="checkbox"
                    id="facility{{ facility.id }}"
                    name="amenities"
                    value="{{ facility.id }}"
                    {% if facility in hotel.amenities.all %}checked{% endif %}
                    >
                    <label for="facility{{ facility.id }}">{{ facility.name }}</label><br>
                    {% empty %}
                    <p>Nu există facilități disponibile.</p>
                {% endfor %}
        </div>

        <div class="mb-3">
            <label class="form-label">Adaugă o facilitate nouă</label>
            <input type="text" name="new_amenity" class="form-control" placeholder="Ex: Saună, sală fitness etc.">
        </div>


        <button type="submit" class="btn btn-primary">Salvează modificările</button>
        <a href="{% url 'hotel_detail' hotel.id %}" class="btn btn-secondary">Anulează</a>
    </form>
</div>
</body>
</html>
